CreateInvoiceSystem/Web References/com.airasia.acesession/SessionService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACE.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACE.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogonRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogonRequest" nillable="true" type="tns:LogonRequest" />
  <xs:complexType name="LogonResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionTimeoutInterval" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogonResponse" nillable="true" type="tns:LogonResponse" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NSProcessTime" type="xs:long" />
      <xs:element minOccurs="0" name="ProcessTime" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:complexType name="LogoutResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsLogout" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogoutResponse" nillable="true" type="tns:LogoutResponse" />
</xs:schema>