CreateInvoiceSystem/Web References/com.airasia.acesession/SessionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://acesession.airasia.com/ACE/SessionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACE.Entities" />
  <xs:element name="Logon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACE.Entities" minOccurs="0" name="logonRequest" nillable="true" type="q1:LogonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACE.Entities" minOccurs="0" name="LogonResult" nillable="true" type="q2:LogonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ACE.Entities" minOccurs="0" name="LogoutResult" nillable="true" type="q3:LogoutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>